*{
margin: 0px;
border: 0px;
padding: 0px;
}
body{
background-color: #ffffff;
font-family: 'Roboto', sans-serif;
}
.logo{
padding-top:50px;
width: 100%;
height: 90%;
float: right;
}
.main{
width:100%;
height:100%;
display: flex;
justify-content: center;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Set a specific height for the container if needed */
    width: 100%;
    justify-content: center;
    padding: 20px;
}
.name span{
color: #ffffff;
font-size: 84px;
font-weight: bold;
}
nav {
    position: fixed;
    /* z-index: 10; */
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
    height: 60px;
    background-color: #96DED1;
    color: #ffffff;
}
nav .profile{
    float: left;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav .profile li{
    list-style: none;
}
nav .links li {
    list-style: none;
}
nav .profile a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    padding: 1em;
    display: block;
    font-weight: bold;
    transition: all .3s ease-in-out;
}
nav .links a {
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    transition: all .3s ease-in-out;}
ul li a:hover {
    border-top:2px solid #000000;
    border-bottom:2px solid #000000;
    color: #000000;
}

#nav-toggle {
    position: absolute;
    top: -100px;
}

nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #96DED1;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}
#education{
    background-color: #ffffff;
    width: 100%;
    height: 300px;
    color: #000000;
    margin-top: 100px;
}
h1{
    text-align: center;
    padding: 40px;
    font-size: 30px;
    font-weight: bold;
}
.education{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flip-card {
    width: 30%;
    height: 100%;
    display: flex;
    text-align: center;
    cursor: pointer;
  }
  .flip-card-inner {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    display: flex;
    background-color: #96DED1;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 #ffffff;
  }
  .flip-card-front h2{
    justify-content: center;
    align-items: center;
  }
  .flip-card-back {
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    transform: rotateY(180deg);
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 4px 8px 0 #96DED1;
  }
    .flip-card-back h3{
       line-height: 2;
    }
  