<html>
    <head>
        <link rel="stylesheet" href="static/style.css">
        <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    </head>
    <body>
        <nav>
            <input id="nav-toggle" type="checkbox">
            <ul class="profile">
                <li><a href="https://www.hackerrank.com/profile/kchinnareddy2016"><img src="/static/hackerrank-removebg-preview.png" style="border-radius:50%" width="30" height="30"></a></li>
                <li><a href="https://leetcode.com/ayyappa444/"><img src="/static/leetcode-removebg-preview.png" style="border-radius:50%" width="30" height="30"></a></li>
                <li><a href="https://github.com/Ayyappa44488"><img src="/static/github-removebg-preview.png" style="border-radius:50%" width="30" height="30"></a></li>
                <li><a href="https://www.linkedin.com/in/karri-ayyappa-reddy-067a9521b/"><img src="/static/linkedin-removebg-preview.png" style="border-radius:50%" width="30" height="30"></a></li>
            </ul>
            <ul class="links">
                <li><a href="portfolio.html">Home</a></li>
                <li><a href="#education">About</a></li>
                <li><a href="#Gallery">Skills</a></li>
                <li><a href="#Contact">Contact</a></li>
                <li><a><iconify-icon icon="carbon:document" style="color: white;cursor:pointer;" width="24" height="24"></iconify-icon></a></li>
            </ul>
            <label for="nav-toggle" class="icon-burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </label>
        </nav>
        <div class="main">
        <div class="name">
            <span>I'M<br>
                 <span style="color:#96DED1;text-shadow:0 2px 2px;">Karri Venkata Surya Ayyappa Reddy</span></span>
        </div>
        <div>
        <img src="static/logo.png" alt="logo" class="logo">
        </div>
        </div>
        <section id="education">
            <h1>Education</h1>
              <div class="education">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <h2>Under Graduation</h2>
                      </div>
                      <div class="flip-card-back">
                        <h3>Artificial Intelligence And Machine Learning<br>SRKR ENGINEERING COLLEGE(A)<br>2021-2025<br>CGPA: 9.18</h3><br>
                      </div>
                    </div>
                  </div>
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <h2>Intermediate</h2>
                      </div>
                      <div class="flip-card-back">
                        <h3>MPC<br>SRI CHAITANYA JUNIOR COLLEGE<br>2019-2021<br>Percentage: 96.2</h3><br>
                      </div>
                    </div>
                  </div>
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <h2>High School</h2>
                      </div>
                      <div class="flip-card-back">
                        <h3>SSC<br>SRI CHAITANYA SCHOOL<br>2019<br>CGPA: 10</h3>
                      </div>
                    </div>
                  </div>
            </div>
        </section>
    </body>

</html>